*{
    padding:0;
    margin:0;
    border:0;
}

body {
    background: silver;
}

#container {
    appearance: center;
    width: 50%;
    background:white;
    margin: 0 auto;
    padding: 20px;
    border-radius:5px;
}

#chat_box {
    appearance: center;
    width:95%;
    font-weight:bold;
}

#chat_data {
    width:100%;
    height: auto;
    margin-top: 20px;
    margin-bottom:10px;
    border-bottom:1px solid silver;
}

input[type='name']{
    width:auto;
    height:20px;
    padding:3px;
    border:1px solid grey;
    border-radius:5px;
    margin-bottom:5px;
}

input[type='submit']{
    width:auto;
    height:25px;
    padding: 3px;
    margin-bottom: 5px;
    border:1px solid grey;
    border-radius:5px;
}

input[type='message']{
    border:1px solid grey;
 
}